.app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 20px;

    @media (max-width: 767.98px) {
        padding: 40px 10px;
    }
}