@import '../../variables/variables.scss';

.paginator {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.pagesList {
    display: flex;
    column-gap: 5px;
}

.pageNumber {
    padding: 2px;
    border: 2px solid $modalOpacityBg;
}

.selectedPage {
    font-weight: 700;
    border-color: $lightGreenColor;
}