@import '../../variables/variables.scss';

.productCart {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0 0 15px $mainColor;
            transform: scale(1.01);
        }
    }
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.productImage {
    position: relative;
    padding-bottom: 70%;
    background-color: #fff;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.productContent {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: $lightYellowColor;
}

.productName {
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px;

    &::first-letter {
        text-transform: uppercase;
    }

    margin-bottom: 10px;
}

.productDescription {
    padding: 0 10px;
    color: $currencyOpacityColor;
    flex: 1 1 auto;
    margin-bottom: 10px;
}

.priceAndButtonBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}