@import '../../variables/variables.scss';

.formBody {
    position: relative;
    padding: 20px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 30px;
    background-color: $formBgColor;
    transition: all 0.3s ease 0s;

    @media (max-width: 767.98px) {
        margin: 0 -10px;
    }
}

.preloader {
    z-index: 3;
}

.selectBlock {
    margin-bottom: 10px;
}

.selectLabel {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
}

.modalBody {
    flex: 1 1 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalTitle {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}