@import '../../variables/variables.scss';

.namesBlock {
    position: sticky;
    top: 100px;
    z-index: 5;
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 1fr 100px 100px;
    align-items: center;
    padding: 10px;
    background-color: $lightGreenColor;
    border-radius: 20px;
}

.nameItem {
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}