@import '../../../variables/variables.scss';

.btn {
    min-height: 40px;

    padding: 5px 30px;
    border-radius: 10px;
    color: $whiteColor;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease 0s;

    &.green {
        background-color: $lightGreenColor;

        @media (any-hover: hover) {
            &:hover {
                background-color: $lightGreenHoverColor;
            }
        }
    }

    &.blue {
        background-color: $lightBlueColor;

        @media (any-hover: hover) {
            &:hover {
                background-color: $lightBlueHoverColor;
            }
        }
    }

    &.red {
        background-color: $redColor;

        @media (any-hover: hover) {
            &:hover {
                background-color: $redHoverColor;
            }
        }
    }

    &:disabled {
        color: $disabledColor;
        background-color: $disabledTextColor;

        @media (any-hover: hover) {
            &:hover {
                color: $disabledColor;
                background-color: $disabledTextColor;
            }
        }
    }
}