@import '../../variables/variables.scss';

.footer {
    min-height: 60px;
    background-color: $footerColor;
    color: $whiteColor;
    padding: 10px 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 767.98px) {
        padding: 0 10px;
    }
}