@import '../../variables/variables.scss';

.formBody {
    position: relative;
    padding: 20px;
    display: flex;
    column-gap: 20px;
}

.preloader {
    z-index: 3;
}

.imageBlock {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.previewBlock {}

.imageTitle {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding: 5px;
    background-color: $yellowOpacityColor;
}

.uploadBtn {}

.addComponentsBtn {
    margin-bottom: 10px;
}

.fileInputBlock {
    display: none;
}

.textBlock {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 30px;
    background-color: $formBgColor;
    transition: all 0.3s ease 0s;
}

.modalBody {
    flex: 1 1 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;

    @media (max-width: 797.98px) {
        min-width: 100vw;
    }
}

.modalTitle {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.productComponents {
    margin-bottom: 20px;
}

.componentsTitle {
    font-size: 18px;
    margin-bottom: 10px;
}

.componentsBody {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 479.98px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.deleteComponentBtn {
    top: 10px;
    right: 10px;
}