$fontFamily: 'Roboto';
$fontSize: 16px;

$mainColor: #1a1a1a;
$whiteColor: #fff;
$bodyColor: #DBE2EF;
$lightGreenColor: #009853;
$lightGreenHoverColor: #3B6E57;
$lightBlueColor: #3F72AF;
$lightBlueHoverColor: #355377;
$redColor: #dc3545;
$redHoverColor: #bb2d3b;
$disabledColor: #8C8C8C;
$disabledTextColor: #dedede;
$inputBorderColor: #EDEDED;
$greyColor: #9c9c9c;
$darkBlueColor: #3C4252;
$footerColor: #1b1b1b;
$formBgColor: #E8EAED;
$lightYellowColor: #FFEB94;
$yellowOpacityColor: #fcc10063;
$currencyOpacityColor: #1a1a1a80;
$modalOpacityBg: #1d1d1d99;