$fontFamily: 'Roboto';
$fontSize: 16px;

$mainColor: #1a1a1a;
$whiteColor: #fff;
$bodyColor: #f0efef;
$lightGreenColor: #23BA99;
$lightGreenHoverColor: #199278;
$lightBlueColor: #374FC7;
$lightBlueHoverColor: #27388e;
$redColor: #F2323F;
$redHoverColor: #be101c;
$disabledColor: #8C8C8C;
$disabledTextColor: #dedede;
$inputBorderColor: #EDEDED;
$greyColor: #9c9c9c;
$darkBlueColor: #3C4252;
$footerColor: #1b1b1b;
$formBgColor: #E8EAED;
$lightYellowColor: #fcfa74;
$yellowOpacityColor: #fcc10063;
$currencyOpacityColor: #1a1a1a80;
$modalOpacityBg: #1d1d1d99;