@import '../../variables/variables.scss';

.header {
    position: sticky;
    z-index: 5;
    top: 5px;
}

.container {
    padding: 5px 20px 0 20px;
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 767.98px) {
        padding: 0 5px;
    }
}

.body {
    border-radius: 50px;
    padding: 10px;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    border: 2px solid $lightGreenColor;

    @media (max-width: 767.98px) {
        padding: 5px;
    }
}

.nav {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    padding: 10px;
    display: inline-block;

    &_active {
        font-weight: 700;
        color: $lightGreenColor;
    }
}

.shopLinks {
    display: flex;
    align-items: center;
}

.userLinks {}

.menuNavigation {
    position: relative;

    @media (any-hover: hover) {
        &:hover {
            & .menuBody {
                top: 100%;
                opacity: 1;
                pointer-events: all;
            }

            & .menuBtn {
                span {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    @media (hover: none) {
        &.active {
            & .menuBody {
                top: 100%;
                opacity: 1;
                pointer-events: all;
            }

            & .menuBtn {
                span {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

.menuBtn {
    display: flex;

    span {
        width: 18px;
        height: 18px;
        flex: 0 0 18px;
        position: relative;
        transition: all 0.3s ease 0s;
        margin-left: 3px;

        &::before,
        &::after,
        span {
            content: '';
            position: absolute;
            top: 25%;
            width: calc(50%);
            height: 2px;
            background-color: $mainColor;
            transition: all 0.3s ease 0s;
        }

        &::before {
            left: 22.5%;
            transform-origin: top left;
            transform: rotate(45deg);
        }

        &::after {
            right: 22.5%;
            transform: rotate(-45deg);
            transform-origin: top right;
        }
    }
}

.menuBody {
    max-width: 100vw;
    position: absolute;
    top: -100%;
    left: 0;
    opacity: 0;
    border: 2px solid $mainColor;
    background-color: $lightGreenColor;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    column-gap: 15px;
    transition: all 0.3s ease 0s;
    pointer-events: none;

    @media (max-width: 479.98px) {
        flex-direction: column;
        row-gap: 10px;
    }
}

.menuLinks {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}