@import '../../variables/variables.scss';

.modalBody {
    background-color: $bodyColor;
    border-radius: 30px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modalTitle {
    padding: 0 30px 0 20px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
}

.closeModalBtn {
    right: 10px;
    top: 10px;
}

.components {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.addBtn {
    align-items: center;
}